.restaurant-header {
  background-color: #fff;
  width: 100%;
  height: 150px;
  padding: 50px 20px 30px 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.left-content h2 {
  font-size: 26px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.left-content p {
  font-size: 12px;
  font-weight: 400;
  width: 90%;
}

.right-content ul {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.right-content li:not(:last-child) {
  margin-right: 10px;
}

.map-cover-button {
  width: 100%;
  height: 50px;
  margin-top: -1px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-cover-button p {
  font-size: 16px;
  font-weight: 700;
}

.review-content {
  width: 100%;
  min-height: 100vh;
  background-color: #d3d3d3;
  position: absolute;
  top: 64%;
  transition: ease-in-out 1s all;
  padding-bottom: 150px;
}

.review-header {
  background-color: #fff;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1px;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid #d3d3d3;
}

.hide {
  top: 30%;
}

.icon-link {
  height: 30px;
  width: 30px;
  transition: all ease 1s;
}

.rotate {
  transform: rotate(-180deg);
}

.review-input {
  position: fixed;
  bottom: 98px;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  padding: 10px 20px;
  border-top: #d3d3d3 1px solid;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.review-input input {
  border-radius: 50px;
  border: 1px solid #000;
  height: 40px;
  width: 90%;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 400;
}

.review-input input:focus {
  outline: none;
}

.review-input input::placeholder {
  color: #000;
}

.send-icon {
  width: 30px;
  height: 30px;
}

.no-reviews {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.no-review-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.no-review-content h2 {
  width: 70%;
}

.no-review-icon {
  width: 150px;
  height: 150px;
}

.icon {
  width: 30px;
  height: 30px;

}

.length-check {
  position: absolute;
  font-size: 12px;
  bottom: -6px;
  left: 35px;
  color: red;
  visibility: hidden;
}

.show {
  visibility: visible;
}

/* Map Styles */
.mapouter {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  margin-top: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gmap-canvas iframe {
  border: 0;
  overflow: hidden;
}

.map-freeze {
  pointer-events: none;
}
